@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#telefono{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(../imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
}
iframe#tela{
    position: relative;
    top: 79px;
    left: 22px;
    
    width: 268px;
    height: 472px;
}
section img{
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.487);
}
img:hover{
    border: 2px solid rgb(215, 215, 215);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.66);
    transform: translate(-0px, -3px);
    transition: 0.5s;
}
section#redes-sociais{
    text-align: right;
}